html{
  background-color:#444;
  color:#999;
  font-family:Railway;
}

img{
  width:100%;
}

table{
  width:95%;
  margin:25px auto;
  border-collapse: collapse;
}

table,th,td,caption style{
  border:1px solid #999;
}

th, td, caption{
    text-align:center;
}

caption{
  text-transform:uppercase;
}

hr{
  color:#999;
}

footer{
  text-align:center;
}